.highlight-line {
  display: inline-block;

  /* del, ins, mark default styles */
  text-decoration: none;
  color: inherit;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: "\200B" /* " "; */
}

.highlight-line:not(:last-child) {
  min-width: 100%;
}
.highlight-line .highlight-line:not(:last-child) {
  min-width: 0;
}

mark {
  background-color: rgba(218, 218, 11, 0.8);
}

ins,
.highlight-line-add {
  background-color: rgb(20, 162, 20);
}

del,
.highlight-line-remove {
  background-color: rgb(132, 24, 24);
}
